.modal-bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.modal-bg::before {
  content: ' ';
  width: 100vw;
  height: 100vh;
  background: #000;
  position: absolute;
  opacity: .7;
  z-index: 70;
}

.modal-bg .modal {
  width: 40%;
  opacity: 0;
  background: #FFFAE3;
  z-index: 75;
  position: absolute;
  background-image: url("../img/bgicons2.png");
  padding: 25px;
  box-sizing: border-box;
  color: #5D576B;
  font-family: 'Exo 2', sans-serif;
  border-radius: 5px;
  transition: all 1s ease-in-out;
}

.modal-bg .modal .exit-btn {
  background: none;
  border: 0px;
  position: absolute;
  top: 8px;
  right: 8px;
  outline: none;
  font-size: 20px;
}

.modal-bg .modal h3 {
  margin-bottom: 15px;
  text-align: center;
}

.modal-bg .modal-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.modal-bg .modal-container__item input {
  width: 100%;
  display: block;
  height: 30px;
  border-radius: 3px;
  border: none;
}

.modal-bg .modal-container__item span {
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}

.modal-send {
  height: 40px;
  width: 250px;
  background: black;
  color: white;
  border: 0px;
  text-shadow: 0 1px 1px rgba(37, 101, 167, 0.47);
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
  font-family: 'Exo 2', sans-serif;
  margin: 0 auto;
  display: block;
  margin-top: 17px;
}

.modal-area {
  width: 100%;
  margin-top: 30px;
}

.modal-area span {
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}

.modal-area textarea {
  height: 90px;
  width: 100%;
  border: none;
  resize: none;
}
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper60 {
  width: 60%;
  margin: 0 auto;
}

.bk {
  display: block !important;
  text-align: center;
}

.big-icon {
  font-size: 40px;
}

.imdev {
  background: url("../img/webdev.png") right top no-repeat;
  padding-right: 50%;
  margin-top: 15px;
  padding-bottom: 5%;
}

input,
textarea {
  outline: none;
}

.red-dot {
  color: red;
  margin-left: 10px;
  font-size: 20px;
}

.modal-open {
  overflow: hidden;
}

.hide {
  display: none;
}

.show {
  display: flex !important;
}
header {
  background: #99E1D9;
  width: 100%;
  position: relative;
}

header .plintus {
  background-image: url("../img/bgicons.png");
  background-size: contain;
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
}

header .plintus::after {
  content: '';
  background-image: url("../img/wawe.png");
  width: 100%;
  height: 20px;
  z-index: 59;
  position: absolute;
  bottom: -3px;
}

.header-top {
  display: flex;
  padding-top: 15px;
  justify-content: space-between;
  font-size: 20px;
}

.header-top .logo {
  font-family: 'Exo 2', sans-serif;
  color: #FFFAE3;
  font-size: 25px;
}

.header-top .logo p {
  display: inline-block;
}

.header-top .logo span {
  font-size: 13px;
  display: block;
}

.header-top .menu {
  font-family: 'Exo 2', sans-serif;
  display: flex;
}

.header-top .menu div {
  margin-right: 20px;
  color: #FFFAE3;
  transition: all .5s linear;
}

.header-top .menu div:hover {
  color: #5d576b;
  cursor: pointer;
}

.header-top .menu div a {
  color: #FFFAE3;
  transition: all .7s linear;
}

.header-top .menu div a:hover {
  color: #5d576b;
}

.my-room {
  position: relative;
  width: 100%;
  height: 500px;
}

.my-room .zakaz-block {
  position: absolute;
  top: 20%;
  left: 47%;
  width: 200px;
  height: 100px;
}

.my-room .zakaz-block button {
  font-family: 'Exo 2', sans-serif;
  color: #FFFAE3;
  background: #5D576B;
  box-sizing: border-box;
  padding: 10px 20px;
  border: transparent;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s linear;
  border-radius: 5px;
  font-size: 19px;
}

.my-room .zakaz-block button:hover {
  background: #F7567C;
}

.my-room .zakaz-block span {
  position: absolute;
  top: 45%;
  font-weight: 400;
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  color: #FFFAE3;
}

.my-room .table {
  position: absolute;
  background-image: url("../img/comp.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 647px;
  height: 300px;
  bottom: 0;
  left: 20%;
  z-index: 7;
}

.my-room .books {
  position: absolute;
  background-image: url("../img/books.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 100px;
  left: 90%;
  top: 30%;
}

.my-room .window {
  position: absolute;
  top: 16%;
  width: 220px;
  height: 300px;
  border: 10px solid #5D576B;
  z-index: 5;
  overflow: hidden;
  left: 8%;
}

.my-room .window .sun {
  position: absolute;
  background-image: url("../img/sun.png");
  width: 90px;
  height: 90px;
  z-index: 7;
  top: 2%;
  left: 2%;
  animation: sun-anim 3s infinite;
}

.my-room .window .day {
  background-image: url("../img/day.jpg");
  width: 120%;
  height: 130%;
  position: absolute;
  left: -10%;
  top: 0;
}

.my-room .contact-on-the-wall {
  position: absolute;
  font-family: 'Exo 2', sans-serif;
  color: #FFFAE3;
  box-sizing: border-box;
  top: 20%;
  left: 70%;
  font-size: 20px;
}

.my-room .contact-on-the-wall span {
  display: block;
  margin-top: 7px;
  transition: all .5s linear;
}

.my-room .contact-on-the-wall span:hover {
  color: #5d576b;
  cursor: pointer;
}

.my-room .contact-on-the-wall .big-font {
  font-size: 30px;
  margin-right: 7px;
}

.content {
  min-height: 200px;
  width: 100%;
  background-image: url("../img/bgcont.png");
  position: relative;
}

.content::after {
  content: '';
  background-image: url("../img/wawew.png");
  width: 100%;
  height: 20px;
  z-index: 59;
  position: absolute;
  bottom: -3px;
}

.advantages {
  font-family: 'Exo 2', sans-serif;
  color: #FFFAE3;
  padding-top: 40px;
  padding-bottom: 40px;
}

.advantages h1 {
  text-align: center;
  margin-bottom: 30px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.advantages-list__item {
  display: flex;
}

.advantages-list__item div {
  margin-right: 15px;
}

.advantages-list__item h3 {
  margin-bottom: 10px;
}

.about {
  background: #FFFAE3;
  width: 100%;
  min-height: 100px;
  font-family: 'Exo 2', sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}

.about::after {
  content: '';
  background-image: url("../img/wawe.png");
  width: 100%;
  height: 20px;
  z-index: 59;
  position: absolute;
  bottom: -3px;
}

.about h2 {
  text-align: center;
  font-size: 32px;
}

.about h4 {
  text-align: center;
  margin-bottom: 15px;
}

.about p {
  margin-bottom: 10px;
}

.message {
  background-image: url("../img/bgcont.png");
  width: 100%;
  min-height: 100px;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.message::after {
  content: '';
  background-image: url("../img/wawew.png");
  width: 100%;
  height: 20px;
  z-index: 59;
  position: absolute;
  bottom: -3px;
}

.message h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 400;
  font-family: 'Exo 2', sans-serif;
}

.message p {
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

.message button {
  display: block;
  margin: 0 auto;
  background: none;
  border: 3px solid  #FFFAE3;
  border-radius: 3px;
  color: #FFFAE3;
  width: 30%;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  font-size: 25px;
  padding: 5px;
}

.services {
  background: #FFFAE3;
  min-height: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #5d576b;
  font-family: 'Exo 2', sans-serif;
  line-height: 24px;
  position: relative;
}

.services::after {
  content: '';
  background-image: url("../img/wawe.png");
  width: 100%;
  height: 20px;
  z-index: 59;
  position: absolute;
  bottom: -3px;
}

.services h2 {
  text-align: center;
  margin-bottom: 25px;
}

.services p {
  margin-bottom: 20px;
}

.services .p-img {
  padding-left: 400px;
  background: url("../img/adaptive.png") no-repeat;
  background-size: contain;
}