@media screen and (max-width: 1170px) {
  .wrapper60 {
    width: 90% !important;
  }

  .books {
    display: none;
  }

  .my-room .contact-on-the-wall {
    left: 80% !important;
  }

  .services .p-img {
    padding-left: 0 !important;
    background: url("../img/adaptive.png") center top no-repeat !important;
  }

  .advantages-list {
    grid-template-columns: 1fr 1fr !important;
  }

  .modal {
    width: 80% !important;
  }
}
@media screen and (max-width: 1420px) {
  .wrapper60 {
    width: 90% !important;
  }

  #clock {
    display: none !important;
  }

  .books {
    display: none;
  }
}

.my-room .contact-on-the-wall {
  left: 60% !important;
}
@media screen and (max-width: 1780px) {
  .my-room .table {
    width: 574px !important;
    left: 15% !important;
    background-position: bottom !important;
  }

  .my-room .contact-on-the-wall span {
    font-size: 17px !important;
  }

  .my-room .window {
    width: 150px !important;
  }

  .my-room .zakaz-block {
    left: 37% !important;
  }

  .header-top .logo {
    font-size: 20px !important;
  }

  .header-top .menu div a {
    font-size: 20px !important;
  }

  .services .p-img {
    padding-left: 0 !important;
    padding-top: 40% !important;
    background: url("../img/adaptive.png") center top no-repeat !important;
    background-size: 40% !important;
  }

  .footer h2 {
    font-size: 20px !important;
  }

  .footer-container__item i {
    font-size: 25px !important;
  }

  .footer-container__item h5 {
    font-size: 15px !important;
  }

  .footer-container__item span {
    font-size: 14px !important;
  }

  .bottom-container .logo {
    font-family: 'Exo 2', sans-serif;
    color: #FFFAE3;
    font-size: 15px;
  }

  .bottom-container p {
    font-size: 15px !important;
  }

  .bottom-container span {
    font-size: 10px;
  }

  .bottom-container .social a {
    font-size: 15px !important;
  }
}
@media screen and (max-width: 420px) {
  .advantages-list {
    grid-template-columns: 1fr !important;
  }

  .my-room .zakaz-block {
    left: 25% !important;
    top: 27% !important;
  }

  header .header-top .logo {
    left: 25% !important;
    font-size: 20px !important;
  }

  .modal-btn {
    font-size: 15px !important;
  }

  .message h2 {
    font-size: 25px !important;
  }

  .serv-list .serv-list__container {
    flex-direction: column !important;
  }

  .serv-list .serv-list__container .serv-list__item {
    width: 100% !important;
  }

  .footer-container {
    grid-template-columns: 1fr 1fr !important;
  }

  .bottom-container {
    flex-direction: column !important;
    padding-left: 15% !important;
  }

  .bottom-container a {
    margin-bottom: 15px !important;
  }

  .bottom-container .social {
    margin-bottom: 15px !important;
  }

  .wrapper60 .my-room .table {
    width: 324px !important;
    left: 0 !important;
  }
}
@media screen and (max-width: 696px) {
  .contact-on-the-wall {
    display: none !important;
  }

  .my-room .table {
    width: 374px !important;
  }

  .advantages-list {
    grid-gap: 5px !important;
  }

  .modal-container {
    grid-template-columns: 1fr !important;
  }

  .modal-send {
    width: 70% !important;
  }

  .table {
    left: 0% !important;
  }
}
@media screen and (max-width: 960px) {
  .header-top .logo {
    font-size: 14px !important;
  }

  .header-top .menu div a {
    font-size: 14px !important;
  }

  header .my-room .contact-on-the-wall {
    left: 70% !important;
  }

  header .my-room .contact-on-the-wall span {
    font-size: 14px !important;
  }

  header .my-room .window {
    display: none !important;
  }

  header .my-room .table {
    left: 10% !important;
  }

  .big-font {
    font-size: 20px !important;
  }

  .big-icon {
    font-size: 20px !important;
  }

  .advantages-list {
    grid-gap: 15px !important;
  }

  .imdev {
    padding-top: 40% !important;
    padding-right: 0 !important;
    background: url("../img/webdev.png") top no-repeat !important;
    background-size: 60% !important;
  }

  .services .p-img {
    padding-left: 0 !important;
    padding-top: 40% !important;
    background: url("../img/adaptive.png") center top no-repeat !important;
    background-size: 40% !important;
  }

  .mobile-menu {
    display: block !important;
  }

  .header-top .logo {
    position: absolute !important;
    top: 15% !important;
    left: 40% !important;
  }

  .modal-btn {
    width: 45% !important;
  }

  .wrapper60 {
    width: 95% !important;
  }

  .menu {
    display: none !important;
  }
}
.modal-bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.modal-bg::before {
  content: ' ';
  width: 100vw;
  height: 100vh;
  background: #000;
  position: absolute;
  opacity: .7;
  z-index: 70;
}

.modal-bg .modal {
  width: 40%;
  opacity: 0;
  background: #FFFAE3;
  z-index: 75;
  position: absolute;
  background-image: url("../img/bgicons2.png");
  padding: 25px;
  box-sizing: border-box;
  color: #5D576B;
  font-family: 'Exo 2', sans-serif;
  border-radius: 5px;
  transition: all 1s ease-in-out;
}

.modal-bg .modal .exit-btn {
  background: none;
  border: 0px;
  position: absolute;
  top: 8px;
  right: 8px;
  outline: none;
  font-size: 20px;
}

.modal-bg .modal h3 {
  margin-bottom: 15px;
  text-align: center;
}

.modal-bg .modal-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.modal-bg .modal-container__item input {
  width: 100%;
  display: block;
  height: 30px;
  border-radius: 3px;
  border: none;
}

.modal-bg .modal-container__item span {
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}

.modal-send {
  height: 40px;
  width: 250px;
  background: black;
  color: white;
  border: 0px;
  text-shadow: 0 1px 1px rgba(37, 101, 167, 0.47);
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
  font-family: 'Exo 2', sans-serif;
  margin: 0 auto;
  display: block;
  margin-top: 17px;
}

.modal-area {
  width: 100%;
  margin-top: 30px;
}

.modal-area span {
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}

.modal-area textarea {
  height: 90px;
  width: 100%;
  border: none;
  resize: none;
}
* {
  padding: 0;
  margin: 0;
  transition: all .3s ease-in-out;
}

body {
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.wrapper60 {
  width: 60%;
  margin: 0 auto;
}

button {
  outline: none;
  focus: none;
}

.bk {
  display: block !important;
  text-align: center;
}

.big-icon {
  font-size: 40px;
}

.imdev {
  background: url("../img/webdev.png") right top no-repeat;
  padding-right: 50%;
  margin-top: 15px;
  padding-bottom: 5%;
}

input,
textarea {
  outline: none;
}

.red-dot {
  color: red;
  margin-left: 10px;
  font-size: 20px;
}

.modal-open {
  overflow: hidden;
}

.hide {
  display: none;
}

.show {
  display: flex !important;
}

.hide-btn {
  position: absolute;
  top: 0;
  left: 5%;
  display: block;
  width: 50px;
  height: 50px;
  background: none;
  border-radius: 50%;
  border: none;
  border-z-index: 59;
}

.hide-btn:hover {
  cursor: pointer;
}

.hide-btn span {
  display: block;
  width: 25px;
  height: 2px;
  margin-left: 12.5px;
  background: #FFFAE3;
}

.hide-btn span::before {
  content: '';
  position: absolute;
  display: block;
  width: 25px;
  height: 2px;
  background: #FFFAE3;
  transform: translateY(5px);
  transition: 0.4s;
}

.hide-btn span::after {
  content: '';
  position: absolute;
  display: block;
  width: 25px;
  height: 2px;
  background: #FFFAE3;
  transform: translateY(-5px);
  transition: 0.4s;
}

.btn-hide-active span {
  height: 0;
}

.btn-hide-active span::before {
  transform: rotate(45deg);
  transition: 0.4s;
}

.btn-hide-active span::after {
  transform: rotate(-45deg);
  transition: 0.4s;
}
.portfolio-container__item {
  margin-right: 10px;
}

.portfolio-container__item img {
  width: 100%;
  height: auto;
}
header {
  background: #99E1D9;
  width: 100%;
  position: relative;
}

header .plintus {
  background-image: url("../img/bgicons.png");
  background-size: contain;
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
}

header .plintus::after {
  content: '';
  background-image: url("../img/wawe.png");
  width: 100%;
  height: 20px;
  z-index: 59;
  position: absolute;
  bottom: -3px;
}

.mobile-menu {
  width: 100%;
  background-image: url("../img/bgcont.png");
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  color: white;
  padding-top: 50px;
  box-sizing: border-box;
  display: none;
  z-index: 69;
}

.mobile-menu a {
  display: block;
  width: 100%;
  text-align: center;
  padding-bottom: 3px;
  font-family: 'Exo 2', sans-serif;
  color: #FFFAE3;
  margin-bottom: 5px;
  margin-top: 5px;
}

.mobile-menu a:hover {
  cursor: poiner;
  color: black;
}

.mobile-menu__open {
  height: 190px;
  border-bottom: 1px solid #5d576b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header-top {
  display: flex;
  padding-top: 15px;
  justify-content: space-between;
}

.header-top .logo {
  font-family: 'Exo 2', sans-serif;
  color: #FFFAE3;
  font-size: 25px;
}

.header-top .logo p {
  display: inline-block;
}

.header-top .logo span {
  font-size: 13px;
  display: block;
}

.header-top .menu {
  font-family: 'Exo 2', sans-serif;
  display: flex;
}

.header-top .menu div {
  margin-right: 20px;
  color: #FFFAE3;
  transition: all .5s linear;
}

.header-top .menu div:hover {
  color: #5d576b;
  cursor: pointer;
}

.header-top .menu div a {
  color: #FFFAE3;
  transition: all .7s linear;
  font-size: 25px;
}

.header-top .menu div a:hover {
  color: #5d576b;
}

.my-room {
  position: relative;
  width: 100%;
  height: 500px;
}

.my-room .zakaz-block {
  position: absolute;
  top: 20%;
  left: 47%;
  width: 200px;
  height: 100px;
}

.my-room .zakaz-block button {
  font-family: 'Exo 2', sans-serif;
  color: #FFFAE3;
  background: #5D576B;
  box-sizing: border-box;
  padding: 10px 20px;
  border: transparent;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s linear;
  border-radius: 5px;
  font-size: 19px;
}

.my-room .zakaz-block button:hover {
  background: #F7567C;
}

.my-room .zakaz-block span {
  position: absolute;
  top: 45%;
  font-weight: 400;
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  color: #FFFAE3;
}

.my-room .table {
  position: absolute;
  background-image: url("../img/comp.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 647px;
  height: 300px;
  bottom: 0;
  left: 20%;
  z-index: 7;
}

.my-room .books {
  position: absolute;
  background-image: url("../img/books.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 100px;
  left: 90%;
  top: 30%;
}

.my-room .window {
  position: absolute;
  top: 16%;
  width: 220px;
  height: 300px;
  border: 10px solid #5D576B;
  z-index: 5;
  overflow: hidden;
  left: 8%;
}

.my-room .window .sun {
  position: absolute;
  background-image: url("../img/sun.png");
  width: 90px;
  height: 90px;
  z-index: 7;
  top: 2%;
  left: 2%;
  animation: sun-anim 3s infinite;
}

.my-room .window .day {
  background-image: url("../img/day.jpg");
  width: 120%;
  height: 130%;
  position: absolute;
  left: -10%;
  top: 0;
}

.my-room .contact-on-the-wall {
  position: absolute;
  font-family: 'Exo 2', sans-serif;
  color: #FFFAE3;
  box-sizing: border-box;
  top: 20%;
  left: 70% !important;
  font-size: 20px;
}

.my-room .contact-on-the-wall span {
  display: block;
  margin-top: 7px;
  transition: all .5s linear;
}

.my-room .contact-on-the-wall span:hover {
  color: #5d576b;
  cursor: pointer;
}

.my-room .contact-on-the-wall .big-font {
  font-size: 30px;
  margin-right: 7px;
}

.content {
  min-height: 200px;
  width: 100%;
  background-image: url("../img/bgcont.png");
  position: relative;
}

.content::after {
  content: '';
  background-image: url("../img/wawew.png");
  width: 100%;
  height: 20px;
  z-index: 59;
  position: absolute;
  bottom: -3px;
}

.advantages {
  font-family: 'Exo 2', sans-serif;
  color: #FFFAE3;
  padding-top: 40px;
  padding-bottom: 40px;
}

.advantages h1 {
  text-align: center;
  margin-bottom: 30px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.advantages-list__item {
  display: flex;
}

.advantages-list__item div {
  margin-right: 15px;
}

.advantages-list__item h3 {
  margin-bottom: 10px;
}

.about {
  background: #FFFAE3;
  width: 100%;
  min-height: 100px;
  font-family: 'Exo 2', sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}

.about::after {
  content: '';
  background-image: url("../img/wawe.png");
  width: 100%;
  height: 20px;
  z-index: 59;
  position: absolute;
  bottom: -3px;
}

.about h2 {
  text-align: center;
  font-size: 32px;
}

.about h4 {
  text-align: center;
  margin-bottom: 15px;
}

.about p {
  margin-bottom: 10px;
}

.message {
  background-image: url("../img/bgcont.png");
  width: 100%;
  min-height: 100px;
  color: #FFFAE3;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.message::after {
  content: '';
  background-image: url("../img/wawew.png");
  width: 100%;
  height: 20px;
  z-index: 59;
  position: absolute;
  bottom: -3px;
}

.message h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 400;
  font-family: 'Exo 2', sans-serif;
}

.message p {
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

.message button {
  display: block;
  margin: 0 auto;
  background: none;
  border: 3px solid  #FFFAE3;
  border-radius: 3px;
  color: #FFFAE3;
  width: 30%;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  font-size: 25px;
  padding: 5px;
}

.services {
  background: #FFFAE3;
  min-height: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #5d576b;
  font-family: 'Exo 2', sans-serif;
  line-height: 24px;
  position: relative;
}

.services::after {
  content: '';
  background-image: url("../img/wawe.png");
  width: 100%;
  height: 20px;
  z-index: 59;
  position: absolute;
  bottom: -3px;
}

.services h2 {
  text-align: center;
  margin-bottom: 25px;
}

.services p {
  margin-bottom: 20px;
}

.services .p-img {
  padding-left: 400px;
  background: url("../img/adaptive.png") no-repeat;
  background-size: contain;
}

.serv-list {
  background-image: url("../img/bgcont.png");
  width: 100%;
  min-height: 100px;
  color: #FFFAE3;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  font-family: 'Exo 2', sans-serif;
}

.serv-list::after {
  content: '';
  background-image: url("../img/wawew.png");
  width: 100%;
  height: 20px;
  z-index: 59;
  position: absolute;
  bottom: -3px;
}

.serv-list h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 400;
  font-family: 'Exo 2', sans-serif;
}

.serv-list p {
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

.serv-list li {
  list-style-type: none;
  margin-bottom: 15px;
}

.serv-list__container {
  display: flex;
}

.serv-list__container .serv-list__item {
  width: 50%;
}

.portfolio {
  background: #FFFAE3;
  font-family: 'Exo 2', sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-weight: 400;
  position: relative;
}

.portfolio::after {
  content: '';
  background-image: url("../img/wawe.png");
  width: 100%;
  height: 20px;
  z-index: 59;
  position: absolute;
  bottom: -3px;
  left: 0;
}

.portfolio h2 {
  color: #5d576b;
  font-size: 24px;
  margin-bottom: 15px;
}

.footer {
  background-image: url("../img/bgcont.png");
  width: 100%;
  min-height: 100px;
  color: #FFFAE3;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  font-family: 'Exo 2', sans-serif;
}

.footer h2 {
  text-align: center;
  font-size: 35px;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-container__item {
  text-align: center;
  margin-top: 40px;
}

.footer-container__item h5 {
  font-size: 25px;
  font-weight: 400;
}

footer {
  padding-top: 25px;
  background: #2B3037;
  padding-bottom: 15px;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
}

.bottom-container .logo {
  font-family: 'Exo 2', sans-serif;
  color: #FFFAE3;
  font-size: 25px;
}

.bottom-container .logo p {
  display: inline-block;
}

.bottom-container .logo span {
  font-size: 13px;
  display: block;
}

.bottom-container a {
  color: #FFFAE3;
  margin-right: 10px;
}

.bottom-container .copyright {
  color: #FFFAE3;
  font-family: 'Exo 2', sans-serif;
}