@media screen and (max-width: 1170px)
    .wrapper60
        width: 90%!important
    .books
        display: none
    .my-room    
        .contact-on-the-wall
            left: 80%!important
    .services
        .p-img
            padding-left: 0!important
            background: url(../img/adaptive.png) center top no-repeat!important
    .advantages-list
        grid-template-columns: 1fr 1fr!important
    .table
    .modal
        width: 80%!important
    .mockup
        width: 807px!important
        background-size: 100%!important
        background-repeat: no-repeat!important
        margin: 0 auto!important
        .port-item
            margin-left: 72px!important
            margin-top: 50px!important
            height: 390px!important
            img
           