header
    background: #99E1D9
    width: 100%
    position: relative
    .plintus
        background-image: url(../img/bgicons.png)
        background-size: contain
        width: 100%
        height: 150px
        position: absolute
        bottom: 0
        &::after
            content: ''
            background-image: url(../img/wawe.png) 
            width: 100%
            height: 20px
            z-index: 59
            position: absolute
            bottom: -3px
.mobile-menu
    width: 100%
    background: #99E1D9
    position: absolute
    top: 0
    left: 0
    height: 50px
    overflow: hidden
    color: white
    padding-top: 50px
    box-sizing: border-box
    display: none
    z-index: 69
    a
        display: block
        width: 100%
        text-align: center
        padding-bottom: 3px
        font-family: 'Exo 2', sans-serif
        color: #FFFAE3
        margin-bottom: 5px
        margin-top: 5px
        border-bottom: 1px solid #5d576b
        &:hover
            cursor: poiner
            color: black
    .hide-btn
    // display: none
        
.mobile-menu__open
    height: 190px
    border-bottom: 1px solid #5d576b
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
.header-top
    display: flex
    padding-top: 15px
    justify-content: space-between
    .logo
        font-family: 'Exo 2', sans-serif
        color: #FFFAE3
        font-size: 25px
        p
            display: inline-block
        span
            font-size: 13px
            display: block
    .menu
        font-family: 'Exo 2', sans-serif
        display: flex
        div
            margin-right: 20px
            color: #FFFAE3
            transition: all .5s linear
            &:hover
                    color: #5d576b
                    cursor: pointer
            a
                color: #FFFAE3
                transition: all .7s linear
                font-size: 25px
                &:hover
                    color: #5d576b
                
.my-room
    position: relative
    width: 100%
    height: 500px
    .zakaz-block
        position: absolute
        top: 20%
        left: 47%
        width: 200px
        height: 100px
        button
            font-family: 'Exo 2', sans-serif
            color: #FFFAE3
            background: #5D576B
            box-sizing: border-box
            padding: 10px 20px
            border: transparent
            position: absolute
            top: 0
            left: 0
            transition:  all .3s linear
            border-radius: 5px
            font-size: 19px
            &:hover
                background: #F7567C
        span
            position: absolute
            top: 45%
            font-weight: 400
            font-family: 'Exo 2', sans-serif
            font-size: 14px
            color: #FFFAE3
    .table
        position: absolute
        background-image: url(../img/comp.png) 
        background-size: contain
        background-position: center
        background-repeat: no-repeat
        width: 647px
        height: 300px
        bottom: 0
        left: 20%
        z-index: 7
    .books
        position: absolute
        background-image: url(../img/books.png) 
        background-size: contain
        background-position: center
        background-repeat: no-repeat
        width: 200px
        height: 100px
        left: 90%
        top: 30%
    .window
        position: absolute
        top: 16%
        width: 220px
        height: 300px
        border: 10px solid #5D576B
        z-index: 5
        overflow: hidden
        left: 8%
        .sun
            position: absolute
            background-image: url(../img/sun.png)
            width: 90px
            height: 90px
            z-index: 7
            top: 2%
            left: 2%
            animation: sun-anim 3s infinite
        .day
            background-image: url(../img/day.jpg)
            width: 120%
            height: 130%
            position: absolute
            left: -10%
            top: 0
    .contact-on-the-wall
        position: absolute
        font-family: 'Exo 2', sans-serif
        color: #FFFAE3
        box-sizing: border-box
        top: 20%
        left: 70%!important
        font-size: 20px
        span
            display: block
            margin-top: 7px
            transition: all .5s linear
            &:hover
                color: #5d576b
                cursor: pointer
        .big-font
            font-size: 30px
            margin-right: 7px





.content
    min-height: 200px
    width: 100%
    background-image: url(../img/bgcont.png)
    position: relative
    &::after
            content: ''
            background-image: url(../img/wawew.png) 
            width: 100%
            height: 20px
            z-index: 59
            position: absolute
            bottom: -3px
.advantages
    font-family: 'Exo 2', sans-serif
    color: #FFFAE3
    padding-top: 40px
    padding-bottom: 40px
    h1
        text-align: center
        margin-bottom: 30px
    &-list
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-gap: 40px
        &__item 
            display: flex
            div
                margin-right: 15px
            h3   
               margin-bottom: 10px


.about
    background: #FFFAE3
    width: 100%
    min-height: 100px
    font-family: 'Exo 2', sans-serif
    padding-top: 40px
    padding-bottom: 40px
    position: relative
    &::after
        content: ''
        background-image: url(../img/wawe.png) 
        width: 100%
        height: 20px
        z-index: 59
        position: absolute
        bottom: -3px
    h2
        text-align: center
        font-size: 32px
    h4
        text-align: center
        margin-bottom: 15px
    p
        margin-bottom: 10px
               
.message
    background-image: url(../img/bgcont.png)
    width: 100%
    min-height: 100px
    color: #FFFAE3
    padding-top: 50px
    padding-bottom: 50px
    position: relative
    &::after
        content: ''
        background-image: url(../img/wawew.png) 
        width: 100%
        height: 20px
        z-index: 59
        position: absolute
        bottom: -3px
    h2
        text-align: center
        margin-bottom: 30px
        font-size: 35px
        font-weight: 400
        font-family: 'Exo 2', sans-serif
    p   
        font-family: 'Exo 2', sans-serif
        text-align: center
        margin-bottom: 30px
    button 
        display: block
        margin: 0 auto
        background: none
        border: 3px solid  #FFFAE3
        border-radius: 3px
        color: #FFFAE3
        width: 30%
        box-sizing: border-box
        font-family: 'Exo 2', sans-serif
        font-size: 25px
        padding: 5px
    


.services
    background: #FFFAE3
    min-height: 100px
    padding-top: 40px
    padding-bottom: 40px
    color: #5d576b
    font-family: 'Exo 2', sans-serif
    line-height: 24px
    position: relative
    &::after
        content: ''
        background-image: url(../img/wawe.png) 
        width: 100%
        height: 20px
        z-index: 59
        position: absolute
        bottom: -3px
    h2
        text-align: center
        margin-bottom: 25px
    p 
        margin-bottom: 20px
    .p-img
        padding-left: 400px
        background: url(../img/adaptive.png) no-repeat
        background-size: contain  


.serv-list
    background-image: url(../img/bgcont.png)
    width: 100%
    min-height: 100px
    color: #FFFAE3
    padding-top: 50px
    padding-bottom: 50px
    position: relative
    font-family: 'Exo 2', sans-serif
    &::after
        content: ''
        background-image: url(../img/wawew.png) 
        width: 100%
        height: 20px
        z-index: 59
        position: absolute
        bottom: -3px
    h2
        text-align: center
        margin-bottom: 30px
        font-size: 35px
        font-weight: 400
        font-family: 'Exo 2', sans-serif
    p   
        font-family: 'Exo 2', sans-serif
        text-align: center
        margin-bottom: 30px
    li
        list-style-type: none
        margin-bottom: 15px
    &__container
        display: flex
        .serv-list__item
            width: 50% 


.portfolio  
    background: #FFFAE3
    font-family: 'Exo 2', sans-serif
    padding-top: 50px
    padding-bottom: 50px
    text-align: center
    font-weight: 400
    position: relative
    &::after
        content: ''
        background-image: url(../img/wawe.png) 
        width: 100%
        height: 20px
        z-index: 59
        position: absolute
        bottom: -3px
        left: 0
    h2
        color: #5d576b
        font-size: 24px
        margin-bottom: 15px




.footer
    background-image: url(../img/bgcont.png)
    width: 100%
    min-height: 100px
    color: #FFFAE3
    padding-top: 50px
    padding-bottom: 50px
    position: relative
    font-family: 'Exo 2', sans-serif
    // &::after
    //     content: ''
    //     background-image: url(../img/wawe.png) 
    //     width: 100%
    //     height: 20px
    //     z-index: 59
    //     position: absolute
    //     bottom: -3px
    //     left: 0
    h2
        text-align: center
        font-size: 35px



.footer-container
    display: grid
    grid-template-columns:  1fr 1fr 1fr 1fr
    &__item
        text-align: center
        margin-top: 40px
        h5
            font-size: 25px
            font-weight: 400





footer
    padding-top: 25px
    background: #2B3037 
    padding-bottom: 15px
    
.bottom-container
    display: flex
    justify-content: space-between
    .logo
        font-family: 'Exo 2', sans-serif
        color: #FFFAE3
        font-size: 25px 
        p
            display: inline-block
        span
            font-size: 13px
            display: block
    a
        color: #FFFAE3
        margin-right: 10px
    .copyright
        color: #FFFAE3
        font-family: 'Exo 2', sans-serif
        h4
            